@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-12.col-sm-6.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
    display: block;
    transition: opacity 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    text-align: center;
    padding: 10px;
    transition: opacity 0.3s ease; 
}

.image-container:hover .overlay {
    opacity: 1;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
    opacity: 0; 
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.image-container:hover .button-group {
    opacity: 1;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.text {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

.size-btn, .add-to-cart-btn {
    background-color: #fff;
    border: none;
    color: rgb(22, 22, 22);
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.size-btn:hover, .add-to-cart-btn:hover {
    background-color: #2c2d2c;
    color:#fff;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.item-details {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: black;
    background: rgba(250, 248, 248, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 800;
    text-align: left;
    font-family: "Rajdhani", sans-serif;
}

.item-details p {
    margin: 0;
}
.add-to-cart-btn, .btnRemove {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%; 
  }
  

.btnRemove {
    background-color: #cf3d3d !important;
}


.notification {
    position: fixed;
   top: 50px;
   left:100px; 
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    z-index: 1000;
    opacity: 0.9;
    transition: opacity 0.5s ease;
    display: flex;
    align-items: center;
    animation: slideIn 0.5s forwards; 
}

@keyframes slideIn {
    from {
        left: -300px; 
    }
    to {
        left: 20px; 
    }
}

.notification.success {
    background-color: green;
}

.notification.error {
    background-color: red;
}

.notification.success::before,
.notification.error::before {
    margin-right: 10px;
    font-size: 20px;
}


.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


